USE [master]
GO
/****** Object:  Database [ESTUDIANTES]    Script Date: 29/11/2022 11:37:40 p. m. ******/
CREATE DATABASE [ESTUDIANTES]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ESTUDIANTES', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\ESTUDIANTES.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ESTUDIANTES_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\ESTUDIANTES_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ESTUDIANTES].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ESTUDIANTES]
GO
/****** Object:  Table [dbo].[ALUMNOS]    Script Date: 29/11/2022 11:37:40 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ALUMNOS](
	[ID_ALUMNOS] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [varchar](50) NOT NULL,
	[APELLIDO] [varchar](50) NOT NULL,
	[FECHA_NACIMIENTO] [varchar](50) NOT NULL,
	[Materia_Espanol] [varchar](5) NOT NULL,
	[Materia_Matematicas] [varchar](5) NOT NULL,
	[Materia_Sociales] [varchar](5) NOT NULL,
	[Materia_Naturales] [varchar](5) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_ALUMNOS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ALUMNOS] ON 

INSERT [dbo].[ALUMNOS] ([ID_ALUMNOS], [NOMBRE], [APELLIDO], [FECHA_NACIMIENTO], [Materia_Espanol], [Materia_Matematicas], [Materia_Sociales], [Materia_Naturales]) VALUES (1, N'Genesis Daniella', N'Bautista de Encarnacion', N'26-12-2002', N'B', N'C', N'B', N'A')
INSERT [dbo].[ALUMNOS] ([ID_ALUMNOS], [NOMBRE], [APELLIDO], [FECHA_NACIMIENTO], [Materia_Espanol], [Materia_Matematicas], [Materia_Sociales], [Materia_Naturales]) VALUES (41, N'Jeremy', N'Encarnacion Bacilio', N'16-04-2002', N'A', N'A', N'A', N'A')
INSERT [dbo].[ALUMNOS] ([ID_ALUMNOS], [NOMBRE], [APELLIDO], [FECHA_NACIMIENTO], [Materia_Espanol], [Materia_Matematicas], [Materia_Sociales], [Materia_Naturales]) VALUES (42, N'Erimer', N'Castillo Encarnacion', N'30-09-1990', N'A', N'A', N'A', N'A')
SET IDENTITY_INSERT [dbo].[ALUMNOS] OFF
GO
USE [master]
GO
